.hide-element{
    display: none;
}
.margin-top{
    margin-top: 20px;
}
._card-container{
    border: none;
    padding: 0;
}
table > thead > tr > th {
    border-right: 1px solid #ccc !important;
}
table > thead > tr > th:last-child {
    border-right: 0 !important;
}


  .xchange-loader {
      position: fixed;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      /* background-color: rgba(51, 51, 51, 0.8); */
      z-index: 999;
      left: 0;
      /* top: 9.1vw; */
      bottom: 0;
      right: 0;

      /* @include breakpoint-range($max: sm) {
          // top: 26vw !important;
          // position: fixed !important;
    } */
}

.custom-spinner {
  border: 4px solid #ce0e2d;
  border-top: 4px solid transparent; 
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

.sorting-arrow .pointer::after{
  display: none;
}

@media print {
  @page:first {
    margin-top: 10mm;
    margin-bottom: 20mm;
  }
  @page {
    margin-top: 20mm;
    margin-bottom: 20mm;
    margin-left: 15mm;
    margin-right: 15mm;
  }
}

