<app-loader [fullScreen]="true" *ngIf="spinnerLoading"></app-loader>
<div class="modal-header text-center">
  <h4 class="modal-title w-100">{{ title }}</h4>
  <button
    type="button"
    class="btn-close close pull-right"
    aria-label="Close"
    (click)="onHideModal()"
  >
    <span aria-hidden="true" class="visually-hidden">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="text-center">
    <p>{{ message }}</p>
    <div class="mt-4 mb-4">
      <button class="btn btn-outline-secondary me-3" (click)="onHideModal()">
        NO
      </button>
      <button class="btn btn-primary" (click)="removeReserve()">YES</button>
    </div>
  </div>
</div>
