<div class="modal-header text-center">
  <h4 class="modal-title f-w text-center w-100">Select Color</h4>
  <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="onHideModal()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
  </button>
</div>
<div class="modal-body p-50">
  <div class="row">
      <div class="col-md-6">
          <h4>Neutral Shift – PM395</h4>
      </div>
      <div class="col-md-6 text-right">
          <p>All Available Colors</p>
      </div>
  </div>
  <div class="row pt-2">
      <div class="col-md-12">
          <div class="samples-grid">
              <ul>
                  <li>
                      <div class="sample-img">
                          <img src="https://s7d4.scene7.com/is/image/MohawkResidential/O_28074_717?wid=800&hei=800&cropN=0.3%2c0.3%2c0.4%2c0.4&op_sharpen=1"
                              alt="" class="">
                      </div>
                      <h4>Crackled Glaze</h4>
                      <p>717</p>
                  </li>
                  <li>
                      <div class="sample-img ">
                          <img src="https://s7d4.scene7.com/is/image/MohawkResidential/O_28074_727?wid=800&hei=800&cropN=0.3%2c0.3%2c0.4%2c0.4&op_sharpen=1"
                              alt="" class="">
                      </div>
                      <h4>Gleaming Tan</h4>
                      <p>727</p>
                  </li>
                  <li>
                      <div class="sample-img ">
                          <img src="https://s7d4.scene7.com/is/image/MohawkResidential/O_28074_729?wid=800&hei=800&cropN=0.3%2c0.3%2c0.4%2c0.4&op_sharpen=1"
                              alt="" class="">
                      </div>
                      <h4>Homestead</h4>
                      <p>729</p>
                  </li>
                  <li>
                      <div class="sample-img ">
                          <img src="https://s7d4.scene7.com/is/image/MohawkResidential/O_28074_732?wid=800&hei=800&cropN=0.3%2c0.3%2c0.4%2c0.4&op_sharpen=1"
                              alt="" class="">
                      </div>
                      <h4>Adobe</h4>
                      <p>732</p>
                  </li>
                  <li>
                      <div class="sample-img">
                          <img src="https://s7d4.scene7.com/is/image/MohawkResidential/O_28074_752?wid=800&hei=800&cropN=0.3%2c0.3%2c0.4%2c0.4&op_sharpen=1"
                              alt="" class="">
                      </div>
                      <h4>Redstone Lasso</h4>
                      <p>752</p>
                  </li>
                  <li>
                      <div class="sample-img ">
                          <img src="https://s7d4.scene7.com/is/image/MohawkResidential/O_28074_819?wid=800&hei=800&cropN=0.3%2c0.3%2c0.4%2c0.4&op_sharpen=1"
                              alt="" class="">
                      </div>
                      <h4>Shimmer</h4>
                      <p>819</p>
                  </li>
                  <li>
                      <div class="sample-img ">
                          <img src="https://s7d4.scene7.com/is/image/MohawkResidential/O_28074_852?wid=800&hei=800&cropN=0.3%2c0.3%2c0.4%2c0.4&op_sharpen=1"
                              alt="" class="">
                      </div>
                      <h4>Sumatra Blend</h4>
                      <p>852</p>
                  </li>
                  <li>
                      <div class="sample-img ">
                          <img src="https://s7d4.scene7.com/is/image/MohawkResidential/O_28074_859?wid=800&hei=800&cropN=0.3%2c0.3%2c0.4%2c0.4&op_sharpen=1"
                              alt="" class="">
                      </div>
                      <h4>Twilight Jungle</h4>
                      <p>859</p>
                  </li>
                  <li>
                      <div class="sample-img ">
                          <img src="https://s7d4.scene7.com/is/image/MohawkResidential/O_28074_872?wid=800&hei=800&cropN=0.3%2c0.3%2c0.4%2c0.4&op_sharpen=1"
                              alt="" class="">
                      </div>
                      <h4>Molten Penny</h4>
                      <p>872</p>
                  </li>

              </ul>
          </div>
      </div>
  </div>
  <div class="row mt-4 mb-4 p-50">
      <div class="col-md-12 text-center">
          <button class="btn btn-outline-secondary mb-2" (click)="onHideModal()">CLOSE</button>
      </div>
  </div>
</div>