:host {
    display: block;
    width: 100%;
}

.sg-image-container {
    width: 100%;

    img {
        width: 100%;
    }

    margin-bottom: 15px;
}

.sg-switch-container {
    display: flex;
    justify-content: center;
}

xchange-switch-button {
    width: 100%;
    display: flex;
    margin-bottom: 20px;
}