@import "src/styles/colors";
@import "src/styles/mixins/breakpoints";

.banner-height {
  img {
    height: 300px;
    object-fit: cover;
    @include breakpoint-range($max: sm) {
      height: 150px;
    }
  }
}

.banner-image {
  width: 100%;
}
.bottom-banner {
  img {
    height: 240px;
    border-radius: 5px;
    object-fit: cover;
    @include breakpoint-range($max: sm) {
      height: 200px;
      margin-bottom: 15px;
    }
  }
}

.well {
  width: 100%;
  border: 0.5px solid $color-gray-b1;
  padding: 18px;
  border-radius: 8px;
  background: $color-white;
  background-image: none;
  border-color: $color-gray-b1;
  margin-bottom: 10px;
}
::ng-deep .tab-content{
  padding: 0px ;
}

.mt-db-edge-vis-name{
  font-weight: 700;
  text-transform: uppercase;
  color: $color-red;
  position: relative;
  font-size: 18px;  
}
.mt-db-edge-vis-bar {
  line-height: 1;
  font-size: 0;
  border: 2px solid #b1b1b1;
  // border-radius: 0px 5px 5px 0px;
}

.mt-db-edge-vis-bar-section-container {
  display: inline-block;
  border-left: 2px solid $color-gray-b1;
  line-height: 1;
  &:first-child{
    border-left:unset
  }
}
.mt-db-edge-vis-bar-section-achieved-last {
  // border-top-right-radius: 0.33rem;
  // border-bottom-right-radius: 0.33rem;
  position: relative;
}
.mt-db-edge-vis-bar-section-achieved {
  background-color: #1b1b1b;
}
.mt-db-edge-vis-bar-section {
  display: inline-block;
  height: 2rem;
  line-height: 1;
  font-size: 1rem;
}
.mt-db-edge-vis-bar-current-outside-bar {
  right: auto;
  left: calc(100% + 6px);
  color: $color-black;
}
.mt-db-edge-vis-bar-current {
  position: absolute;
  font-size: 1rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  line-height: 1;
  vertical-align: middle;
  right: 2px;
  font-weight: 700;
  color: $color-black;
  height: 1rem;
}
.mt-db-edge-vis-bar-section-remaining {
  background-color: initial;
  // border: 2px solid $color-gray-b1;
  border-left: none;
  border-right: none;
}
.mt-db-edge-vis-bar-section-remaining-after-current {
  margin-left: -2.5px;
}

// .mt-db-edge-vis-bar-section-container-tail {
//   border-top-right-radius: 0.33rem;
//   border-bottom-right-radius: 0.33rem;
// }

.mt-db-edge-vis-bar-section-container-tail .mt-db-edge-vis-bar-section-remaining {
  border-right: 2px solid $color-gray-b1;
  // border-top-right-radius: 0.33rem;
  // border-bottom-right-radius: 0.33rem;
}

.mt-db-edge-vis-statuses {
  font-size: var(--mt-text-size-small);
  font-weight: 700;
  line-height: 1.33;
  color: $color-red;
  text-transform: uppercase;
  margin-top: 0.15rem;
}

.mt-db-edge-vis-status-container {
  display: inline-block;
  text-align: right;
}
.removeBorders{
  border-radius: 0px;
}

.premierType{
  left: unset;
  color: #fff;
  text-align: center;
}
