@import "src/styles/mixins/box-shadow.mixin";
@import 'src/styles/mixins/breakpoints';

.text-right {
    text-align: right;
}
.back-to {
    color: #{$color-red};
    display: flex;
    cursor: pointer;
}
@include breakpoint-range($max:sm) {
    .back-to {
        display: none;
    }
}
.back-i {
    @include breakpoint-range($max : sm) {
        margin-right: 5px;
    }
    margin-right: 5px;
    top: 4px;
    position: relative;
   // transform: rotate(180deg);
}
/** ngx-pagination styling **/
::ng-deep {
    pagination-controls {
      pagination-template {
        ul {
          border-radius: unset !important;
          li {
            border: none !important;
            border-radius: 0 5px 5px 0;
            box-shadow: inset 0px 5px 6px #00000014;
            &:nth-child(3) {
              &.current {
                border-radius: 5px 0px 0px 5px;
              }
            }
            &:nth-last-child(2) {
              &.current {
                border-radius: 0px 5px 5px 0px;
              }
            }
            &.current {
              display: flex !important;
              box-shadow: unset;
            }
            a {
              text-decoration: unset !important;
              height: 100%;
              display: flex !important;
              align-items: center;
              justify-content: center;
            }
            &.pagination-next,
            &.pagination-previous {
              a {
                color: $color-red;
                font-size: 24px;
                &::after,
                &::before {
                  margin-left: 0px !important;
                  margin-bottom: 3px !important;
                }
              }
            }
          }
          &.ngx-pagination.responsive {
            li:not(.small-screen):not(.pagination-previous):not(
                .pagination-next
              ) {
              display: inline-block;
            }
            li.small-screen {
              display: none;
            }
          }
        }
      }
    }
}

::ng-deep {
  .sorting-arrow {
    .pointer {
      position: relative;
      display: block !important;
      &::after {
        content: "";
        width: 22px;
        height: 22px;
        background: url("../../../../../../../assets/icons/sort.png") no-repeat;
        top: 14px;
        bottom: 0px;
        right: 0px;
        position: absolute;
        display: inline-block;
      }
      .ngx-table__header-title {
        .ngx-icon {
          display: none;
        }
      }
    }
  }
  .sorting-arrow-active {
    .pointer {
      position: relative;
      display: block !important;
      &::after {
        content: "";
        width: 22px;
        height: 22px;
        background: url("../../../../../../../assets/icons/sort-ascending-icon.svg")
          no-repeat;
        top: 8px;
        bottom: 0px;
        right: 0px;
        position: absolute;
        display: inline-block;
        -webkit-transform: scaleY(-1);
        transform: scaleY(-1);
      }
      .ngx-table__header-title {
        .ngx-icon {
          display: none;
        }
      }
    }
  }
  .sorting-arrow-down-icon {
    .pointer {
      position: relative;
      display: block !important;
      &::after {
        content: "";
        width: 22px;
        height: 22px;
        background: url("../../../../../../../assets/icons/sort-descending-icon.svg")
          no-repeat;
        top: 14px;
        bottom: 0px;
        right: 0px;
        position: absolute;
        display: inline-block;
        // -webkit-transform: scaleY(-1);
        // transform: scaleY(-1);
      }
      .ngx-table__header-title {
        .ngx-icon {
          display: none;
        }
      }
    }
  }
  .ngx-table__header-title {
    padding: 10px 25px 10px 10px;
  }
  .ngx-table__table--normal > thead > tr > th {
    vertical-align: top;
  }
}

.no-results {
    text-align: center;
    height: 75px;
}