<div class="profile-section">
    <section>
        <header class="page-header w-100">
            <h2>Billing Address</h2>
        </header>

        <ul class="address-list" *ngFor="let address of addresses">
      <li>
        <div class="address-container">
          <h3>{{ address.companyName }}</h3>
          <p>
            {{ address?.line2 }} {{ address?.line1 }}
            {{ address?.building ? ", "+address.building+" " : "" }}<br />
            {{ address?.town }}, {{ address?.region?.isocodeShort }} {{ address?.postalCode }}
          </p>
          <p>SHIPPING METHOD({{ address.defaultShippingMethod }})</p>
          
        </div>
      </li>
    </ul>
    </section>
    <!-- <p class="w-100 align-self-end">Please contact a Mohawk representative to modify your billing address.</p> -->
    <p class="w-100 align-self-end">Please <a href="https://mohawk.jotform.com/200233364560041" target="_blank">click here</a> to modify your billing address. </p>
  </div>
