<app-loader *ngIf="spinnerLoading"></app-loader>
<div class="container">
  <xchange-breadcrumb [breadcrumbItems]="breadcrumbItems"></xchange-breadcrumb>
  <h2 class="text-center mb-4">Claims History</h2>
  <div class="_card-container">
    <div class="row">
      <div class="col-xxl-3 col-md-4 col-lg-4 d-grid align-items-end mb-3 cust-col-md-4">
        <button
          class="btn btn-primary w-100 new-claim"
          [routerLink]="['/commercial/claims/createclaim']"
          [disabled]="storageService.userInfo?.isFinancialUser"
        >
          CREATE A NEW CLAIM
        </button>
      </div>
      <ng-container 
        *ngIf="salesPersonInHouseFlag"
      >
        <div
          class="col-xxl-3 col-md-4 col-lg-4 col-sm-12 mb-3 m-btn-0 cust-col-md-4"
          *ngFor="let account of salesHierarchyList"
        >
          <h4>
            {{
              account?.key == "TM"
                ? "All Territory Manager"
                : account?.key == "DM"
                ? "All District Manager"
                : account?.key == "SVP"
                ? "All SVP Manager"
                : "All RVP Manager"
            }}
          </h4>
          <div class="col-12">
            <ng-select
              (change)="getSalesList($event, account?.key)"
            [(ngModel)]="selectedFilter[account?.key]"
              placeholder="{{
                account?.key == 'TM'
                  ? 'All Territory Manager'
                  : account?.key == 'DM'
                  ? 'All District Manager'
                  : account?.key == 'SVP'
                  ? 'All SVP Manager'
                  : 'All RVP Manager'
              }}"
            >
               <ng-option value="All"> {{account?.key == 'TM'
                ? "Select All TM's"
                : account?.key == 'DM'
                ? "Select All DM's"
                : account?.key == 'SVP'
                ? "Select All SVP's"
                : "Select All RVP's"}}</ng-option>
              <ng-option
                [value]="salesHierchy?.salesHierarchyCode"
                *ngFor="
                  let salesHierchy of account.value
                    .salesHierarchyUserAssignmentList
                "
                >{{ salesHierchy?.salesManDescription }} -
                {{ salesHierchy?.salesHierarchyCode }}</ng-option
              >
            </ng-select>
          </div>
        </div>
      </ng-container>
      <div class="col-xxl-3 col-md-4 col-lg-4 col-sm-12 cust-col-md-4">
        <h4>Status</h4>
        <ng-select
          placeholder="Action Required"
          class="mb-3"
          (change)="onStatus($event)"
          [(ngModel)]="selectedStatus"
        >
          <ng-option [value]="''">All</ng-option>
          <ng-option [value]="'status-ACTIONREQUIRED'">Action Required</ng-option>
          <ng-option [value]="'status-INPROCESS'">In Process</ng-option>
          <ng-option [value]="'status-RESOLVED'">Resolved</ng-option>
          <ng-option [value]="'status-CLOSED'">Closed</ng-option>
          <ng-option [value]="'status-DRAFT'">Draft</ng-option>
        </ng-select>
      </div>

      <div class="col-xxl-3 col-md-4 col-lg-4 col-sm-12 cust-col-md-4">
        <h4>Claim Type</h4>
        <ng-select placeholder="All" class="mb-3" (change)="onClaim($event)">
          <ng-option value="FREIGHT">Freight Billing Error</ng-option>
          <ng-option value="PRICING">Pricing Billing Error</ng-option>
          <ng-option value="TAX">Tax Billing Error</ng-option>
          <ng-option value="ACCOMMODATION_RETURN">Accommodation Return</ng-option>
          <ng-option value="MOHAWK_ORDER_ERROR">Order Error Claim</ng-option>
          <ng-option value="DEFECTIVE_PRODUCT">Defective Product Claim</ng-option>
          <ng-option value="WRONG_PRODUCT">Wrong Product Claim</ng-option>
          <ng-option value="DAMAGED">Damage Claim</ng-option>
          <ng-option value="WRONG_QUANTITY_SHORTAGE">Quantity Claim</ng-option>
          <ng-option value="CANCELLATION_FEE">Cancellation Fees</ng-option>
          <ng-option value="CUSTOMER_SATISFACTION">Assurance Warranty Claim</ng-option>
        </ng-select>
      </div>
      <div class="col-xxl-3 col-md-4 col-lg-4 col-sm-12 cust-col-md-4">
        <h4>Date Range</h4>
        <input
          type="text"
          placeholder="Select Date"
          class="form-control mb-3"
          [(ngModel)]="daterange1"
          [maxDate]="maxDate"
          (ngModelChange)="datechange($event)"
          bsDaterangepicker
        />
      </div>
      <div class="col-xxl-3 col-md-4 col-lg-4 col-sm-6 col-xs-12 search-mob-width cust-col-md-4">
        <h4>Search By</h4>
        <ng-select
        [placeholder]="'Search By'"
          class="mb-3"
          (change)="onSearchBy($event)"
          (clear)="clearSearchBy()"
        >
          <ng-option value="claimNumber">Claim #</ng-option>
          <ng-option value="invoiceNumber">Invoice #</ng-option>
          <ng-option value="poNumber">PO #</ng-option>
          <ng-option value="sidemark">Sidemark</ng-option>
          <ng-option value="consumerName">Consumer Name</ng-option>
          <ng-option value="styleNumber">Style #</ng-option>
          <ng-option value="styleName">Style Name</ng-option>
          <ng-option value="colorName">Color #</ng-option>
          <ng-option value="colorNumber">Color Name</ng-option>
        </ng-select>
      </div>
      <div
        class="col-xxl-3 col-md-4 col-lg-4 col-sm-6 col-xs-12 d-grid align-items-end mb-3 search-mob-width cust-col-md-4"
      >
        <h4>Search For</h4>
        <xchange-search-control
          [disabled]="searchBy != '' ? false : true"
          (sendValue)="onSearch($event)"
          (keyup)="onSearchClear($event)"
          [isGlobalSearchEnabled]="false"
          placeholder="{{
            searchBy != '' ? 'Type here' : 'Select Search By'
          }}"
          [searchKey]="searchText"
        ></xchange-search-control>
      </div>
    </div>
    <div class="margin-top">
      <div class="overflow-auto">
      <ngx-table
        #claim
        [configuration]="configuration1"
        [data]="
          claimDetails
            | paginate
              : {
                  id: 'clhstry',
                  itemsPerPage: tableItemsSize,
                  currentPage: pageIndex,
                  totalItems: totalLength
                }
        "
        [columns]="columns1"
        class="margin-top"
        (event)="sortingByColumns($event)"
      >
        <ng-template let-row>
          <td *ngIf="accountColumns">
            <p>{{ row?.accountName || "NA" }}</p>
          </td>
          <td *ngIf="accountColumns">
            <p>{{ row?.accountNumber || "NA" }}</p>
          </td>
          <td>
            <p
              (click)="navigateToClaimDetail(row.claimNumber)"
              class="claim-number"
            >
              {{
                row?.claimStatus == "Draft" ? "DRAFT" : row?.claimNumber || "NA"
              }}
            </p>
          </td>
          <td>
            <p>{{ row?.claimSubmitDate || "NA" }}</p>
          </td>
          <td>
            <p>{{ row?.claimType || "NA" }}</p>
          </td>
          <td>
            <p>{{ row?.submittedByName || "NA" }}</p>
          </td>
          <td>
            <p>{{ row?.sideMark || "NA" }}</p>
          </td>
          <td>
            <p>{{ row?.invoiceNumber || "NA" }}</p>
          </td>
          <td>
            <p>{{ row?.poNumber || "NA" }}</p>
          </td>
          <td>
            <p>{{ row?.totalClaimedAmount || "NA" }}</p>
          </td>
          <td>
            <p>{{ row?.claimStatus || "NA" }}</p>
          </td>
        </ng-template>
      </ngx-table>
      </div>
      <div class="row mb-4 mt-4">
        <div class="d-flex justify-content-center" *ngIf="totalLength > 10">
          <pagination-controls
            id="clhstry"
            [maxSize]="maxSize"
            [responsive]="true"
            [nextLabel]="''"
            [previousLabel]="''"
            (pageChange)="onTableDataChange($event)"
          >
          </pagination-controls>
        </div>
        <div class="col-md-12">
          <p class="text-center mb-0">
            {{
              totalLength > 0 ? (startValue > totalLength ? 1 : startValue) : 0
            }}
            -
            {{ lastValue > totalLength ? totalLength : lastValue }}
            OF {{ totalLength > 0 ? totalLength : 0 }} CLAIMS
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
