@import 'src/styles/colors';
@import 'src/styles/mixins/breakpoints';

:host {
    width: 100%;
}

.subscribe-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    list-style: none;
    padding: 0;
}

.box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    transition: opacity 0.2s ease;
    cursor: pointer;

    .boxes {
        // background: $color-medium-black;
        background: white;
        width: 280px;
        height: 210px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        transition: transform 0.2s ease;
        margin: 15px;
        box-shadow: 0px 1px 15px #00000026;
        border-radius: 15px;

        .icon {
            color: $color-medium-black;
            font-size: xx-large;
        }

        .box-heading {
            color: $color-medium-black;
            padding: 10px;
            font-size: 20px;
        }

        // &::after {
        //     content: '';
        //     position: absolute;
        //     bottom: 30px;
        //     left: 50%;
        //     transform: translateX(-50%);
        //     height: 3px;
        //     width: 50px;
        //     background-color: $color-medium-black;
        // }

        &:hover {
            transform: scale(1.03);
        }
    }

    &.active-card {
        opacity: 1 !important;

        .boxes {
            background: $color-red;
            width: 280px;
            height: 210px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            transition: transform 0.2s ease;
            margin: 15px;
            box-shadow: 0px 1px 15px #00000026;
            border-radius: 15px;

            .icon {
                color: $color-white;
                font-size: xx-large;
            }

            .box-heading {
                color: $color-white;
                padding: 10px;
                font-size: 20px;
            }

            // &::after {
            //     content: '';
            //     position: absolute;
            //     bottom: 30px;
            //     left: 50%;
            //     transform: translateX(-50%);
            //     height: 3px;
            //     width: 50px;
            //     background-color: $color-white;
            // }

            &:hover {
                transform: scale(1.03);
            }
        }
    }
}

.modal-header h4
{
    text-align: center;
}
.modal-body h2.body-heading {
    text-align: center;
    font-size: 16px;
}

.footer-btns {
    display: flex;
    justify-content: center;
}