<div class="container">
  <!-- <div class="_card-container mt-5">
   
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-12 col-sm-4 col-md-6 col-lg-3 mt-2 mb-2 m-btn-0">
            <button type="button" (click) = "navigateToOrders()" class="btn btn-primary btn-grid w-100">
              OPEN ORDERS: {{getCount('open_orders')}}
            </button>
          </div>
          <div class="col-12 col-sm-4 col-md-6 col-lg-3 mt-2 mb-2 m-btn-0">
            <button type="button" (click) = "navigateToClaims()" class="btn btn-primary btn-grid w-100">
              OPEN CLAIMS: {{getCount('claims')}}
            </button>
          </div>
          <div class="col-12 col-sm-4 col-md-6 col-lg-3 mt-2 mb-2 m-btn-0">
            <button type="button" class="btn btn-primary btn-grid w-100">
              RECENT INVOICES: {{getCount('recent_invoices')}}
            </button>
          </div>
          <div class="col-12 col-sm-4 col-md-6 col-lg-3 mt-2 mb-2 m-btn-0">
            <button type="button" (click) = "navigateToClaims()" class="btn btn-primary btn-grid w-100">
                CLAIMS APPROVAL: {{getCount('claims')}}
            </button>
          </div>
        </div>
      </div>
    </div>

  
  </div> -->
  <app-loader *ngIf="spinnerLoading"></app-loader>
  <ng-container class="row mb-5 margin-0"*ngIf="storageService?.userInfo?.isSalesPerson || storageService?.userInfo?.salesOps || storageService?.userInfo?.isALCBDM || storageService?.userInfo?.isResidentialManager">
   
    <app-salesops-dashboard [dashboardData]="selectedDashboardData"[name]='username'></app-salesops-dashboard>
  </ng-container>
  
</div>
