.p0{
    padding: 0;
}
.modal-content{
    overflow: hidden;
}
.modal-body{
    padding: 0;
    overflow: hidden;
}
.btn-close{
    position: absolute;
    right: 10px;
    top: 10px;
}
.f-img img{
    width: 100%;
    border-radius: 4px 0 0 4px;
}
.box-text{
    padding: 40px 30px 30px 30px;
    h1{
        color: #CE0E2D;
        font-weight: 300;
        margin-bottom: 20px;
    }
    p{
        margin-bottom: 5px;
    }
    .text-right{
        text-align: right;
        padding-top: 20px;
    }
}