<div class="modal-header text-center">
  <h4 class="modal-title w-100">{{data['heading']}}</h4>
  <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="onHideModal()">
    <span aria-hidden="true" class="visually-hidden">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="text-center">
    <p *ngIf="!data['err'] && data?.type == 'tranfer'">Funds ({{data['budgetData'].amount | currency:'USD'}}) transferred successfully from {{data['budgetData'].fromTmNumber}} to {{data['budgetData'].toTmNumber}}.</p>
    <p *ngIf="!data['err'] && data?.type == 'create'">Funds {{ data['budgetData'].action == 'add' ? 'added' : 'reduced'}} {{data['budgetData'].amount | currency:'USD'}} successfully.</p>
    <p *ngIf="data['err']">{{data['budgetData']}}</p>
    <div class="mt-4 mb-4">
      <button class="btn btn-primary me-3" (click)="onHideModal()">CLOSE</button>
    </div>
  </div>
</div>