@import "src/styles/mixins/box-shadow.mixin";
@import 'src/styles/mixins/breakpoints';

.modal-body {
    padding: 0 30px;

    @include breakpoint-range($max : sm) {
        padding: 0 20px;
    }
}
.f-w{
    width: 100%;
}
.btn-full-width {
    .btn {
        @include breakpoint-range($max : sm) {
            width: 100%;
        }
    }
}
.payment-details {
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #e8e8e8;

    ul {
        @include breakpoint-range($max : sm) {
            display: block;
        }

        list-style-type: none;
        padding: 0;
        display: flex;

        li {
            @include breakpoint-range($max : sm) {
                width: 50%;
                padding: 10px 0;
                display: inline-block;
            }

            text-align: center;
            width: 33.33%;

            span {
                font-size: 12px;
            }

            p {
                margin: 0;

                b {
                    color: #CE0E2D;
                }
            }
        }
    }
}

.add-deduction {
    p {
        margin-bottom: 10px;
        font-size: 16px;
    }
}
.add-deduction-mobile {
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #e8e8e8;

    ul {
        @include breakpoint-range($max : sm) {
            display: block;
        }

        list-style-type: none;
        padding: 0;
        display: flex;

        li {
            @include breakpoint-range($max : sm) {
                width: 100%;
                padding: 5px 0;
                display: inline-block;
            }

            .form-control,
            .ng-select {
                @include breakpoint-range($max : sm) {
                    margin-bottom: 0;
                }

            }

            .btn-50 {
                .btn {
                    @include breakpoint-range($max : sm) {
                        width: 48%;
                        margin-right: 5px;
                    }
                }

            }

            text-align: left;
            width: 33.33%;

            span {
                font-size: 12px;
            }

            p {
                margin: 0;

                b {
                    color: #CE0E2D;
                }
            }
        }
    }
}
.desk-view {
    @include breakpoint-range($max : sm) {
        display: none;
    }
}

.m-view {
    display: none;

    @include breakpoint-range($max : sm) {
        display: block;
    }
}
.mr-10 {
    margin-right: 10px;
}