<div class="reistration-banner-content">
   <!-- <div class="align-self-start">
        <xchange-logo [type]="logoType" [theme]="logoTheme"></xchange-logo>
    </div> -->
    <div class="align-self-end registration-banner-footer"></div>
    <!--<div class="align-self-center w-100 registration-content">
        <h2>
            {{ headerText }}
        </h2>
        <p>
            {{ subContent }}
        </p>
    </div>
    <div class="align-self-end registration-banner-footer">
        <ul class="top-bar-menu-right footer-menu">
            <li> <a> Legal</a></li>
            <li> <a> Terms and Conditions </a></li>
            <li> <a> Privacy Policy </a></li>
            <li> <a> Contact Us </a></li>
        </ul>
        <p class="copy-right-text mt-2 mb-0">© 2022 Mohawk Industries, Inc.
        </p>
    </div> -->
</div>