@import 'src/styles/colors';
@import 'src/styles/mixins/breakpoints';

::ng-deep {
    .product-features-list {
        &>li {
            width: calc(50% - 7.5px) !important;
        }
    }
}
.margin-0{
    margin: 0 -1.5rem;
}
.filter-by-widget-text {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 8px;
    line-height: 24px;
}