<form [formGroup]="resetForm" class="sign-in-form">
  <div class="login-box">
    <h2><strong>Password Reset</strong></h2>
    <!-- <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p> -->
  </div>
  <div class="form-fields-container">
    <div class="mb-3">
      <label class="form-label">New Passsword </label>
      <input
        type="text"
        placeholder="Enter new password"
        class="form-control"
        formControlName="newpassword"
      />
    </div>
    <div class="mb-3">
      <label class="form-label">Confirm Password</label>
      <input
        type="text"
        placeholder="Confirm your password"
        class="form-control"
        formControlName="confirmpassword"
        [ngClass]="
          resetForm.controls['confirmpassword'].touched &&
          resetForm.controls['confirmpassword'].hasError('confirmedValidator')
            ? 'is-invalid'
            : ''
        "
      />
      <div class="invalid-feedback">Passwords must match</div>
    </div>
   <p>
    (Minimum of 16 characters, at least one upper and lower case letter, one number,
    Must contain one of the following characters “!&#64;#$%^&+=,” and no spaces)
   </p>

    <div
      class="mb-4 d-flex justify-content-between align-items-center flex-wrap"
    >
      <a class="text-decoration-none sign-up-link" routerLink="/">
        <strong>
          <fa-icon [icon]="faAngleLeft"></fa-icon> Return to Login
        </strong>
      </a>
      <button
        [disabled]="!resetForm.valid"
        class="btn btn-primary submit-btn"
        (click)="submitButtonClick(resetForm.value.confirmpassword)"
      >
        Submit
      </button>
    </div>
  </div>
  <app-alerts
    [alertData]="alertData"
    *ngIf="messageSuccess"
    [alertType]="'success'"
  ></app-alerts>
</form>
