<app-loader *ngIf="loading"></app-loader>

<div class="container" #scrollToTop>
  <!-- <div class="banner-height mt-4 mb-4">
    <img class="rounded w-100" [src]="
        'https://s7d4.scene7.com/is/image/MohawkResidential/better_together?scl=1'
      " alt="" />
  </div> -->
  <xchange-browser-alert></xchange-browser-alert>
  <h2 class="text-center mt-4 mb-4">Search By Email</h2>
  <div class="_card-container">
    <form [formGroup]="searchUserForm">
      <div class="row mt-3 d-flex align-items-end">
        <div class="col-12 col-sm-6">
          <h4>Email*</h4>
          <input
            type="text"
            placeholder="Search Email"
            class="form-control"
            [ngClass]="
              searchUserForm.controls['userEmail'].touched &&
              searchUserForm.controls['userEmail'].hasError('required')
                ? 'is-invalid'
                : ''
            "
            formControlName="userEmail"
          />
          <div class="invalid-feedback">Please enter a valid Email</div>
          <p *ngIf="showNoResultsMsg" class="text-primary">
            No user found with given email.
          </p>
        </div>
        <div class="col-12 col-sm-6 col-md-3 d-flex search-button cta-align">
          <button
            class="btn btn-primary w-100"
            [ngClass]="showNoResultsMsg ? 'align-btn' : ''"
            [disabled]="!searchUserForm.valid"
            (click)="onSearchUser(searchUserForm.value)"
          >
            SEARCH
          </button>
        </div>
      </div>
    </form>
    <div>
      <div class="col-12 mt-4 table-responsive">
        <ngx-table
          [configuration]="configuration"
          [data]="data"
          [columns]="columns"
          class="table-responsive"
        >
          <ng-template let-row>
            <td>
              {{ row?.email }}
            </td>
            <td>
              {{ row?.firstName }}
            </td>
            <td>
              {{ row?.lastName }}
            </td>
            <td>
              {{ row?.active }}
            </td>
          </ng-template>
        </ngx-table>
      </div>
      <div class="col-12 mt-4 table-responsive csrlist">
        <div class="mb-3">
          <app-alerts
            [alertData]="alertData"
            [alertType]="alertType"
            *ngIf="alertTrigger"
          ></app-alerts>
        </div>
        <ng-template #selectAllTemplate1 let-changeEvent>
          <label class="ngx-form-checkbox">
            <input type="checkbox" [checked]="selected.size == data1.length && selected.size !== 0" (input)="changeEvent()" />            <i
              class="ngx-form-icon custom-checkbox-color"
              id="selectAllCheckbox"
            ></i>
          </label>
        </ng-template>
        <ngx-table
          [id]="'configuration1'"
          [configuration]="configuration1"
          [data]="data1"
          [columns]="columns1"
          (event)="onChange($event, data1)"
          class="table-responsive"
          #searchTable
          [selectAllTemplate]="selectAllTemplate1"
        >
        </ngx-table>
      </div>
    </div>
  </div>
  <div class="operations pb-5" *ngIf="data.length && data.length != 0">
    <div class="operations">
      <button class="btn btn-primary mt-2" (click)="onShowModal(accountSearch)">
        <span class="mohawak-icon plus-icon me-1"></span>ACCOUNT SEARCH
      </button>
      <button
        class="btn btn-secondary mt-2"
        (click)="onRemoveAccount()"
        [disabled]="selected.size === 0"
      >
        <span class="mohawak-icon minus-icon minus-icon-size"></span>Remove
      </button>
    </div>
    <div class="save-btn">
      <button class="btn btn-outline-primary mt-2 w-100" (click)="onSubmit()"
      [disabled]="accountsModified === false">
        SAVE CHANGES
      </button>
    </div>
  </div>
</div>
<ng-template #noResultsTemplate>
  <td [attr.colspan]="columns.length" class="no-results text-center">
    No Result
  </td></ng-template
>

<ng-template #accountSearch>
  <div class="modal-header text-center">
    <h4 class="modal-title f-w w-100">Search For An Account</h4>
    <button
      type="button"
      class="btn-close close pull-right"
      aria-label="Close"
      (click)="onModalClose()"
    >
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body p-20">
    <div class="">
      <app-alerts
      [alertData]="alertData"
      [alertType]="alertType"
      *ngIf="alertTriggers"
     
    ></app-alerts>
      <xchange-search-control
      class="mt-2"
        placeholder="Enter Full Account Number"
        [isGlobalSearchEnabled]="false"
        (sendValue)="onSearchAccount($event)"
      ></xchange-search-control>
      <ng-template>
        <div class="user-exists">Invalid Email / Username</div>
      </ng-template>
      <div class="col-12 mt-4 table-responsive" [style.max-height]="configuration2.isLoading === true ? '200px' : null">
        <ng-template #selectAllTemplate>
          <label class="ngx-form-checkbox">
            <input type="checkbox" [checked]="selected1.size == data2.length && data2.length != 0" (input)="onChange1($event, 'onSelectAll')" />
            <i
              class="ngx-form-icon custom-checkbox-color"
              id="selectAllCheckbox"
            ></i>
          </label>
        </ng-template>
        <ng-template #noResultsTemplate>
          <td [attr.colspan]="columns2.length" class="no-results text-center" *ngIf="configuration2?.isLoading === false">
            No Result
          </td>
        </ng-template>
        <ngx-table
          [id]="'configuration2'"
          [configuration]="configuration2"
          [data]="data2"
          [columns]="columns2"
          [selectAllTemplate]="selectAllTemplate"
          
          class="table-responsive"
          [noResultsTemplate]="noResultsTemplate"

        >
        <ng-template let-row>
          <td>
            <label class="ngx-form-checkbox">
              <input type="checkbox" [checked]="row?.selected" [disabled]="row?.disabled"
              (input)="onChange1($event, 'onClick', row)"/>
              <i
                class="ngx-form-icon custom-checkbox-color"
                id="selectAllCheckbox"
              ></i>
            </label>
          </td>
          <td *ngFor="let item of columns2">{{row[item.key] }}</td>
        </ng-template>
        </ngx-table>
      </div>
      <div class="mt-4 mb-4 d-flex justify-content-evenly w-50 mx-auto">
        <button class="btn btn-outline-secondary" (click)="bsModalRef.hide()">
          Cancel
        </button>
        <button class="btn btn-primary" (click)="onAddAccount()" [disabled]="selected1.size == 0 || disableAddBtn">Add</button>
      </div>
    </div>
  </div>
</ng-template>
