<div class="container">
  <xchange-breadcrumb [breadcrumbItems]="breadcrumbItems"></xchange-breadcrumb>
  <div class="contact-container">
    <div class="contact-info">
      <div class="detail">
        <h1>Mohawk Xchange | Contact Us</h1>
        <p class="support-team">Dedicated Support Team</p>
        <div class="contact mt-5">
          <table class="d-grid">
            <tr>
              <td class="text-end">Call:</td>
              <td class="text-start"><a href="tel:1-800-276-7007">1-800-276-7007</a></td>
            </tr>
            <tr>
              <td class="text-end invisible">Call:</td>
              <td class="text-start"><a href="tel:1-706-629-7721,25125">1-706-629-7721 ext. 25125</a></td>
            </tr>
          </table>
          <!-- <p>Email: <a href="mailto:xchange_support@mohawkind.com">xchange_supportmohawkind.com</a></p> -->
          <p>
          Email:
            <a href="mailto:xchange_support&#64;mohawkind.com">
            xchange_support&#64;mohawkind.com
            </a>
          </p>

        </div>
      </div>
    </div>
    <div class="image-section"></div>
  </div>
</div>