<div class="modal-header text-center">
  <h4 class="modal-title w-100">Reserve Item(s)</h4>
  <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true" class="visually-hidden">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="text-center">
    <p>Reserve eligible products?</p>
    <div class="mt-4 mb-4">
      <button class="btn btn-outline-secondary me-3">CANCEL</button>
      <button class="btn btn-primary">CONTINUE</button>
    </div>
  </div>
</div>