<footer class="footer-section">
  <div class="container">
    <div>
      <p class="copy-right-text my-2 w-100">
        Copyright © 2023 Mohawk Industries. All rights reserved.
      </p>
      <div class="footer-menu">
        <a href="https://mohawkind.com/legal.php" target="_blank"> LEGAL</a>
        <a
          href="https://mohawkind.com/terms-and-conditions.php"
          target="_blank"
        >
          TERMS AND CONDITIONS
        </a>
        <a href="https://mohawkind.com/privacy-policy.php" target="_blank">
          PRIVACY POLICY
        </a>
        <a class="contact" href="https://mohawkind.com/contact.php">
          CONTACT US</a
        >
      </div>
    </div>
  </div>
</footer>
