<div class="modal-header text-center">
  <h4 class="modal-title f-w w-100">Cancel Order</h4>
  <button
    type="button"
    class="btn-close close pull-right"
    aria-label="Close"
    (click)="bsModalRef.hide()"
  >
    <span aria-hidden="true" class="visually-hidden">&times;</span>
  </button>
</div>
<div class="modal-body p-20">
  <div>
    <p class="text-center">
      Are you sure you would like to cancel this order line? Cancellation is
      subject to a fee of $0.00
    </p>
    <div class="row mb-4 mt-4">
      <div class="col-md-10 col-lg-8 offset-md-1 offset-lg-2">
        <h4>Cancellation Reason*</h4>
        <ng-select placeholder="Open Orders All">
          <ng-option>903 - Consumer Cancelled</ng-option>
          <ng-option>904 - Consumer Reselected</ng-option>
          <ng-option>905 - Customer Job Delay</ng-option>
          <ng-option>901 - Customer Order Error</ng-option>
          <ng-option>902 - Customer Over Order</ng-option>
          <ng-option>900 - Duplicate Order</ng-option>
          <ng-option>906 - Production Date Not Acceptable</ng-option>
          <ng-option>907 - Shipping Delay Lost Order</ng-option>
          <ng-option>90000 - Test Cancel</ng-option>
        </ng-select>
      </div>
    </div>
    <div class="mt-4 mb-4 text-center">
      <button
        class="btn btn-outline-secondary me-2"
        (click)="bsModalRef.hide()"
      >
        No
      </button>
      <button class="btn btn-primary">Yes</button>
    </div>
  </div>
</div>
