<div class="container">
    <xchange-breadcrumb [breadcrumbItems]="breadcrumbItems"></xchange-breadcrumb>
    <h2 class="text-center mb-4">Advanced Search</h2>
<div class="row mb-4">
    <div class="col-md-12">
        <div class="_card-container">
            <div class="row mb-4">
                <div class="col-md-4">
                    <h4>Style Code*</h4>
                    <input type='text' placeholder='Type Here' class='form-control'>
                </div>
                <div class="col-md-4">
                    <h4>Style Name*</h4>
                    <input type='text' placeholder='Type Here' class='form-control'>
                </div>
                <div class="col-md-4">
                    <h4>Color Code</h4>
                    <input type='text' placeholder='Type Here' class='form-control'>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-md-4">
                    <h4>Color Name</h4>
                    <input type='text' placeholder='Type Here' class='form-control'>
                </div>
                <div class="col-md-4">
                    <h4>Backing #</h4>
                    <input type='text' placeholder='Type Here' class='form-control'>
                </div>
            
                <div class="col-md-4">
                    <h4>Part #*</h4>
                    <input type='text' placeholder='Type Here' class='form-control'>
                </div>
             </div>
            <div class="row align-center">
                
                <div class="col-md-3 mb-3 btn-grid col-6">
                    <button class="btn btn-primary" routerLink="/commercial/">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>