<div class="container">
  <xchange-breadcrumb [breadcrumbItems]="breadcrumbItems"></xchange-breadcrumb>

  <alert type="info" class="dashboard-page-alert" [dismissible]="true">
    <div class="container">Product(s) removed Successfully.</div>
  </alert>

  <div class="_card-container mt-2">
    <div class="col-12">
      <h3 class="mb-2">0 ITEM(S)Total</h3>
      <h2>Your shopping cart is empty</h2>
      <br /><br /><br /><br /><br /><br />
    </div>
    <div class="col-md-12 mt-2">
      <button type="button" class="btn btn-primary col-md-2 btn-grid">
        SHOP PRODUCTS
      </button>
    </div>
  </div>
</div>
