<div class="registration-layout-section">
  <div class="registration-layout-left">
    <xchange-registration-banner
      [logoType]="'residential'"
      [headerText]="bannerHeader"
      [subContent]="bannerSubContent"
    >
    </xchange-registration-banner>
  </div>
  <div class="registration-layout-right">
    <xchange-logo
      type="residential"
      theme="mix"
      className="layout-logo"
    ></xchange-logo>
    <xchange-sign-up-form></xchange-sign-up-form>
    <xchange-custom-footer></xchange-custom-footer>
  </div>
</div>
